<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="host.fairy.mapper.user.UserMapper">
    <!--@Table
    tb_user-->

    <resultMap id="BaseResultMap" type="host.fairy.model.user.UserModel" autoMapping="true">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="gender" column="gender" jdbcType="VARCHAR"/>
        <result property="birthday" column="birthday" jdbcType="TIMESTAMP"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
        <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
        <result property="deleted" column="deleted" jdbcType="BOOLEAN"/>
    </resultMap>

    <insert id="insert">
        insert into
            tb_user (username, password, name, gender, birthday, phone, email)
        values
            (#{username}, #{password}, #{name}, #{gender}, #{birthday}, #{phone}, #{email});
    </insert>

    <update id="update">
        update tb_user
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="gender != null and gender != '' and gender in {'female', 'male', 'unknown'}">
                gender = #{gender},
            </if>
            <if test="birthday != null">
                birthday = #{birthday},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="updatedAt != null">
                updated_at = #{updatedAt}
            </if>
        </set>
        where
            id = #{id};
    </update>

    <delete id="deleteById">
        update tb_user
        set
            deleted = true
        where
            id = #{id};
    </delete>

    <select id="select" resultMap="BaseResultMap">
        select
            id,
            username,
            password,
            name,
            gender,
            birthday,
            phone,
            email,
            created_at,
            updated_at,
            deleted
        from
            tb_user
        <where>
            <if test="username != null and username != ''">
                username like concat('%', #{username}, '%')
            </if>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="gender != null and gender != ''">
                and gender = #{gender}
            </if>
            <if test="birthdayStart != null and birthdayEnd != null">
                and birthday between #{birthdayStart} and #{birthdayEnd}
            </if>
            <if test="phone != null and phone != ''">
                and phone like concat('%', #{phone}, '%')
            </if>
            <if test="email != null and email != ''">
                and email like concat('%', #{email}, '%')
            </if>
            <if test="createdAtStart != null and createdAtEnd != null">
                and created_at between #{createdAtStart} and #{createdAtEnd}
            </if>
            <if test="updatedAtStart != null and updatedAtEnd != null">
                and updated_at between #{updatedAtStart} and #{updatedAtEnd}
            </if>
            <if test="deleted != null">
                and deleted = #{deleted}
            </if>
        </where>
    </select>

    <select id="selectUserById" resultMap="BaseResultMap">
        select
            id,
            username,
            password,
            name,
            gender,
            birthday,
            phone,
            email,
            created_at,
            updated_at,
            deleted
        from
            tb_user
        where
            id = #{id};
    </select>

    <select id="selectUserByUsername" resultMap="BaseResultMap">
        select
            id,
            username,
            password,
            name,
            gender,
            birthday,
            phone,
            email,
            created_at,
            updated_at,
            deleted
        from
            tb_user
        where
            username = #{username};
    </select>
</mapper>
