<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="host.fairy.mapper.user.UserRoleMapper">
    <!--@Table tb_user_role -->

    <resultMap id="BaseResultMap" type="host.fairy.model.user.RoleModel" autoMapping="true">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="builtin" column="builtin" jdbcType="BOOLEAN"/>
        <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
        <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
        <result property="deleted" column="deleted" jdbcType="BOOLEAN"/>
    </resultMap>
    
    <select id="selectRoleIdsByUserId" resultType="java.lang.Long">
        select role_id
        from tb_user_role_relation
        where user_id = #{userId}
    </select>

</mapper>
